.vrset-box{

    background-color: rgba(229, 231, 231, 0.353);
}

.vr-select{

    background-color: rgba(229, 231, 231, 0.053) ;
}
img.vrset-hover:hover{
    border: 1px solid whitesmoke;
    box-shadow: rgba(0, 6, 12, 0.5) 6px 2px 16px 0px, rgba(54, 54, 54, 0.3) -6px -2px 16px 0px;
    border-radius: 5px;
}
.vr-select-product{
    background-color: rgba(229, 231, 231, 0.753);
}



/* .col-box1{
    width :35px; 
    height: 35px;
    border-radius: 50%;
    background-color: gray;
}
.col-box2{
    width :35px; 
    height: 35px;
    border-radius: 50%;
    background-color: rgb(243, 202, 202);
}
.col-box3{
    width :35px; 
    height: 35px;
    border-radius: 50%;
    background-color: rgb(83, 80, 80);
} */