/* .col-box1{
    width :35px; 
    height: 35px;
    border-radius: 50%;
    background-color: gray;
}
.col-box2{
    width :35px; 
    height: 35px;
    border-radius: 50%;
    background-color: rgb(243, 202, 202);
}
.col-box3{
    width :35px; 
    height: 35px;
    border-radius: 50%;
    background-color: rgb(83, 80, 80);
} */