.vr-text-bgc{
    background-color: rgba(229, 231, 231, 0.760);
}
.vr-text>h5{
    font-size: calc(0.5vw + 0.5rem) !important;
}
.vr-text>h1{
    font-size: calc(1.5vw + 0.8rem) !important;
}
.vr-text>p{
    font-size: calc(0.5vw + 1rem) !important;
}

.para-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}